<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BookArchive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-gray-100">
<header>
    <nav class="container mx-auto px-4 py-2 flex justify-between bg-white shadow-md">
        <a class="text-2xl font-semibold" asp-area="" asp-controller="Home" asp-action="Index">BookArchive</a>
        <ul class="flex items-center">
            <li class="mr-6">
                <a class="text-gray-700 hover:text-gray-900" asp-area="" asp-controller="Books" asp-action="Index">
                    Каталог
                    книжок
                </a>
            </li>
        </ul>
        <ul class="flex items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="mr-6">
                    <a class="text-gray-700 hover:text-gray-900" asp-area="" asp-controller="Favorites" asp-action="Profile">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="mr-6">
                    <a class="text-gray-700 hover:text-gray-900" asp-area="" asp-controller="Auth" asp-action="Logout">Вийти</a>
                </li>
            }
            else
            {
                <li class="mr-6">
                    <a class="text-gray-700 hover:text-gray-900" asp-area="" asp-controller="Auth" asp-action="Login">Авторизація</a>
                </li>
                <li class="mr-6">
                    <a class="text-gray-700 hover:text-gray-900" asp-area="" asp-controller="Auth" asp-action="Register">Реєстрація</a>
                </li>
            }
        </ul>
    </nav>
</header>
<div class="container mx-auto px-4 py-6">
    <main role="main" class="pb-6">
        @RenderBody()
    </main>
</div>
<footer class="border-t border-gray-200 px-4 py-6">
    <div class="container mx-auto">
        &copy; 2024 - BookArchive - <a class="text-gray-700 hover:text-gray-900" asp-area="" asp-controller="Home" asp-action="Privacy">Конфіденційність</a>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>