<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookArchive</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
<nav class="bg-white shadow-md py-4 px-6 sm:px-10">
    <div class="max-w-7xl mx-auto">
        <div class="flex flex-col sm:flex-row justify-between items-center">
            <a class="text-2xl font-semibold text-gray-800 mb-4 sm:mb-0" asp-area="" asp-controller="Home" asp-action="Index">BookArchive</a>
            <div class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-6">
                <a class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out" asp-area="" asp-controller="Books" asp-action="Index">Каталог книжок</a>
                @if (User.Identity.IsAuthenticated)
                {
                <a class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out" asp-area="" asp-controller="Favorites" asp-action="Profile">@User.Identity.Name</a>
                <a class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out" asp-area="" asp-controller="Auth" asp-action="Logout">Вийти</a>
                }
                else
                {
                <a class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out" asp-area="" asp-controller="Auth" asp-action="Login">Авторизація</a>
                <a class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out" asp-area="" asp-controller="Auth" asp-action="Register">Реєстрація</a>
                }
            </div>
        </div>
    </div>
</nav>

<main role="main" class="flex-grow container mx-auto px-6 py-8">
    @RenderBody()
</main>

<footer class="bg-white border-t border-gray-200 mt-auto">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <p>&copy; 2024 - BookArchive</p>
        <a class="text-gray-700 hover:text-gray-900 transition duration-300 ease-in-out" asp-area="" asp-controller="Home" asp-action="Privacy">Конфіденційність</a>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>